*,
html {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
}

body {
    padding-top: 70px;
}

.plot-iframe {
    height: 75vh;
    width: 95vw;
}

.no-data {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
